@{
    ViewBag.Title = "Contact us";
    ViewBag.Message = "You can reach us at the following";
}
<br />
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Support:</strong>  <br /> 
    <a href="mailto:arthurrobinsoniii3@gmail.com">arthurrobinsoniii3@gmail.com</a><br />
    <p>317-938-5504</p>
   
</address>