@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PAM</h1>
    <p class="lead">PAM is a neural network designed to analyze markets and predict day to day changes</p>
    
    @Html.ActionLink("Perceptrons","Index","Perceptron")
</div>

<div class="row">
    
</div>